*.env
*.secret
*.jar
*.dat
*.mca
*.mcmeta
*.lock
*.snbt
*.meta
*.jpg
*.png
*.ogg
*.nbt
*.playerskin
*.db
*.bak
*.local
*.rpt
*.CSV
*.ini
*.wav
*.lnk
*.log
*.data
*.properties
*.txt
*_old
.*
cache/
logs/
libraries/
tmp/
lang/
locales/
translations/
guide/
scripts/
global_data_packs/
defaultconfigs/
world*/
README.txt
usercache.json
usernamecache.json
whitelist.json
ops.json
banned-ips.json
banned-players.json
version_history.json
